<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="sqlmap/QuazTriggersMapper.xml"/>
        <mapper resource="sqlmap/TaskConfigMapper.xml"/>
        <mapper resource="sqlmap/TaskLogMapper.xml"/>
        <mapper resource="sqlmap/common_SqlMapper.xml"/>
    </mappers>
</configuration>
