<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.platform.task.dao.TaskLogDAO">
    <resultMap id="BaseResultMap" type="com.code.platform.task.dmo.TaskLog">
        <id column="LOG_ID" jdbcType="DECIMAL" property="logId"/>
        <result column="TASK_ID" jdbcType="DECIMAL" property="taskId"/>
        <result column="STATUS" jdbcType="DECIMAL" property="status"/>
        <result column="RESULT_DESC" jdbcType="VARCHAR" property="resultDesc"/>
        <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.taskId != null">
                and TASK_ID = #{condition.taskId}
            </if>
        </trim>
    </sql>
    <sql id="Base_Column_List">
        LOG_ID, TASK_ID, STATUS, RESULT_DESC, START_TIME, END_TIME
    </sql>
    <select id="selectByExample" parameterType="com.code.platform.task.util.Criteria"
            resultMap="BaseResultMap">
        <include refid="common.Oracle_Pagination_Head"/>
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from TASK_LOG
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Oracle_Pagination_Tail"/>
    </select>
    <select id="selectGroupTaskLog" parameterType="com.code.platform.task.util.Criteria"
            resultMap="BaseResultMap">
        <include refid="common.Oracle_Pagination_Head"/>
        SELECT LOG_ID,
        TASK_ID,
        STATUS,
        RESULT_DESC,
        START_TIME,
        END_TIME
        FROM TASK_LOG
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.taskId != null">
                and TASK_ID = #{condition.taskId}
            </if>
        </trim>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Oracle_Pagination_Tail"/>
    </select>

    <!--<select id="selectGroupTaskLog" parameterType="com.code.platform.task.util.Criteria"
            resultMap="BaseResultMap">
        <include refid="common.Oracle_Pagination_Head"/>
        SELECT T.*
        FROM (SELECT LOG_ID,
        TASK_ID,
        STATUS,
        RESULT_DESC,
        START_TIME,
        END_TIME,
        (ROW_NUMBER() OVER(PARTITION BY TASK_ID ORDER BY START_TIME DESC)) AS XH
        FROM TASK_LOG
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.taskId != null">
                and TASK_ID = #{condition.taskId}
            </if>
        </trim>
        ) T
        <![CDATA[ WHERE T.XH <= 1  ]]>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Oracle_Pagination_Tail"/>
    </select>-->

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TASK_LOG
        where LOG_ID = #{logId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from TASK_LOG
        where LOG_ID = #{logId,jdbcType=DECIMAL}
    </delete>
    <insert id="insertSelective" parameterType="com.code.platform.task.dmo.TaskLog" useGeneratedKeys="true" keyProperty="logId">
        insert into TASK_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                TASK_ID,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="resultDesc != null">
                RESULT_DESC,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                #{taskId,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=DECIMAL},
            </if>
            <if test="resultDesc != null">
                #{resultDesc,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        <!--<selectKey keyProperty="logId" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>-->
    </insert>
    <select id="countByExample" parameterType="com.code.platform.task.util.Criteria"
            resultType="java.lang.Integer">
        select count(1) from TASK_LOG
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="countGroupTaskLogByExample"
            parameterType="com.code.platform.task.util.Criteria"
            resultType="java.lang.Integer">
        select count(1) from (select TASK_ID from TASK_LOG
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        ) z
    </select>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.code.platform.task.dmo.TaskLog">
        update TASK_LOG
        <set>
            <if test="taskId != null">
                TASK_ID = #{taskId,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=DECIMAL},
            </if>
            <if test="resultDesc != null">
                RESULT_DESC = #{resultDesc,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where LOG_ID = #{logId,jdbcType=DECIMAL}
    </update>
</mapper>
